    <div style="margin-bottom:30px">
    <h2>Mobile Database API</h2>
    <!--ul id="pumas" /-->
    <p>Upload DATABASE NONSENSE file:</p>
    <!--using (Html.BeginForm("UploadData", "api", FormMethod.Get, new { enctype = "multipart/form-data" }))-->
    @using (Ajax.BeginForm("UploadFiles", "Upload", new AjaxOptions { OnSuccess = "errorMessageShow", HttpMethod = "Post" ,UpdateTargetId="personz"}))
    {
        <input type="file" name="uploadFile" />
        <input type="radio" name="dbType" value="WoodyPlant" />
        <text>Woody Plant </text>
        <input type="radio" name="dbType" value="Wetland" />
        <text>Wetland </text>
        <br>
        <input type="submit" value="Upload" />

    }
    <br /><br />
    <div id="personz"></div>
    @* <p>Revert DATABASE file:</p>
            <!--(Html.BeginForm("RevertDatabase", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            @using (Html.BeginForm("UploadData", "api", FormMethod.Get, new { enctype = "multipart/form-data" }))

            {
                <input type="radio" name="dbType" value="WoodyPlant" />
                <text>Woody Plant </text>
                <input type="radio" name="dbType" value="Wetland" />
                <text>Wetland </text>
                <br>
                <input type="submit" value="Revert" />

            }
        </div>
        <div>
            <p id="errorBasic" style="color:red;display:none"><b>*NOTE: </b>Database uploads must be non-empty .xlsx excel files</p>
        </div>




        <!--RANDOM TESTING****************************************************************************************************************************************-->
        <br><br><br><br>
        <div style="margin-bottom:30px">
            <h2>TESTING</h2>
            <p>Upload database file:</p>
            <!--using (Html.BeginForm("UploadData", "api", FormMethod.Get, new { enctype = "multipart/form-data" }))-->
            @using (Html.BeginForm("Testing", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="text" name="dbType" />
                <br>
                <input type="submit" value="TEST" onclick="errorMessageShow()" />
            }
            <button onclick="errorMessageShow()">TestingShowBasicError</button>
        </div>

        <br><br><br><br>
        <div style="margin-bottom:30px">
            <h2>DElete TESTING</h2>
            <p>Upload database file:</p>
            <!--using (Html.BeginForm("UploadData", "api", FormMethod.Get, new { enctype = "multipart/form-data" }))-->
            @using (Html.BeginForm("RemoveAllData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <br>
                <input type="submit" value="TESTdelete" onclick="errorMessageShow()" />
            }
        </div>

        <br><br><br><br>
        <div style="margin-bottom:30px">
            <h2>DifferentPAge TESTING</h2>
            <p>Upload database file:</p>
            <!--using (Html.BeginForm("UploadData", "api", FormMethod.Get, new { enctype = "multipart/form-data" }))-->
            @using (Html.BeginForm("ErrorMessageIndex", "Upload", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {

                <br>
                <input type="submit" value="KillMe" onclick="errorMessageShow()" />
            }
        </div>

        <!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script-->
    *@
    <script>
        function errorMessageShow(messageError) {

            Console.log(messageError);
            /*
            var x = document.getElementById("errorBasic");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }*/
        }

        @*
        function doSumpIn() {

            //var fileInput = $('#api_file_in').val();

            var fileInput = $('#api_file_in').get(0);

            $.ajax({
                type: "GET",
                url: "/Home/UploadFile", // the method we are calling
                contentType: "application/json; charset=utf-8",
                data: { uploadFile: fileInput },
                dataType: "json",
                success: function (msg) {
                    console.log("WIN :" + fileInput);
                },
                error: function (msg) {
                    console.log("FAIL :" + fileInput);
                    //console.log(msg);
                }
            });

        }
            *@
    </script>
