<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Mobile API</title>
</head>


<body>
    @{
        string dynamicUrl = HttpContext.Current.Request.Url.Host + ":" + HttpContext.Current.Request.Url.Port;
        string dynamicUrl2 = HttpContext.Current.Request.Url.AbsoluteUri;

    }
    <div style="margin-bottom:30px">
        <h2>Mobile Database API</h2>
        <ul id="pumas" />

        <p>Upload database file:</p>
        @using (Html.BeginForm("AddFileUploads", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <br>
            <input type="submit" value="Upload" />
        }
    </div>
</body>
</html>
