<div style="margin-bottom:30px">
    <h2>Mobile Database API</h2>
    <br /><br />

    <p>Upload Database File:</p>
    <form id="data" method="post" enctype="multipart/form-data">
        <p>Select Database: <select id="databaseTypes" name="dbType"></select></p>
        <input id="uploadFile" type="file" name="uploadFile" />
        <button id="formSubmit">Submit</button>
    </form>
    <br />
    <br />

    @* ****ERROR MESSAGE HERE**** *@
    <br />
    <br />
    <p id="errorMessage" style="color:red"></p>

<script src="~/Scripts/messingAround.js"></script>
</div>