    <link rel="stylesheet" type="text/css" href="~/Views/Shared/StyleSheet1.css">
<div style="margin-bottom:30px">

    <h2>Mobile Database API</h2>
    <br /><br />

    <p>Upload Database File:</p>
    <form id="data" method="post" enctype="multipart/form-data">
        <p>Select Database: <select class="databaseTypes" id="databaseTypes" name="dbType"></select></p>
        <input id="uploadFile" type="file" name="uploadFile" />
        <button id="formSubmit">Submit</button>
    </form>

    <div>
        <a id="downloadTemplate" href="..\DataFolder\Template.xlsx" download="Data Template">
            Download Template of Database
        </a>

    </div>
    <br />
    <br />

    <p>Upload Image Zip Folder:</p>
    <form id="data" method="post" enctype="multipart/form-data">
        <p>Select Database: <select class="databaseTypes" id="imageTypes" name="dbType"></select></p>
        <input id="imageFile" type="file" name="uploadFile" />
        <button id="formSubmit">Submit</button>
    </form>
    <br />
    <br />

    @* ****ERROR MESSAGE HERE**** *@
    <p id="errorMessage" style="color:red"></p>
    <br />
    <br />
    @*<button id="dataBaseTemplateDownload">Download Database Template</button>*@

    <script src="~/Scripts/messingAround.js"></script>
</div>

