<div style="margin-bottom:30px">
    @*<script src="~/Scripts/messingAround_please.js"></script>*@
    <h2>Revert Database File</h2>
    <br /><br />
    <h4>Choose Database and File:</h4>
    <form id="data" method="post" enctype="multipart/form-data">
        <p>Select Database: <select class="databaseTypes" id="dbTypeID" name="dbType"></select></p>
        @*<p>Select Database: <select class="databaseTypes" id="dbTypeID" name="dbType" onchange="getOldFiles()"></select></p>*@
        <p>Select File: <select id="oldDataFiles" name="oldDataFile"></select></p>
        @*<input id="uploadFile" type="file" name="uploadFile" />*@
        <button id="formSubmit">Get Previous Files</button>
    </form>
    @*<div>
        <a id="downloadTemplate" download="Data Template">
            Download Template of Database
        </a>
    </div>*@

    @* ****ERROR MESSAGE HERE**** *@
    <br />
    <br />
    <p class="statusMessage" id="resultMessage"></p>
</div>


<script src="~/Scripts/revertTesting.js"></script>