<div style="margin-bottom:30px">
    @*<script src="~/Scripts/messingAround_please.js"></script>*@
    <h2>Mobile Database API</h2>
    <h3>Revert Testing</h3>
    <br /><br />
    <h4>Upload Database File:</h4>
    <form id="data" method="post" enctype="multipart/form-data">
        <p>Select Database: <select class="databaseTypes" id="databaseTypes" name="dbType"><option value="Woody">Woody</option></select></p>
        <input id="uploadFile" type="file" name="uploadFile" />
        <button id="formSubmit">Submit</button>
    </form>
    <div>
        <a id="downloadTemplate" href="..\DataFolder\Template.xlsx" download="Data Template">
            Download Template of Database
        </a>
    </div>
    <br /><br />
    
    @* ****ERROR MESSAGE HERE**** *@
    <br />
    <br />
    <p class="statusMessage" id="resultMessage"></p>
    <br />
    <br />

</div>
<script src="~/Scripts/revertTesting.js"></script>